<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 align = "left">
              I build value by design.</h1>
            <br>
            <h4 align="left">Hi, I'm Purav Datta, but you can just call me Purav.</h4>
            <br>
            <h4 align="left", style="width:65%;line-height:1.4  ">A first generation American 🇺🇸, both my parents are immigrants from india. I have always been interested in Computer Science, Engineering and Robotics. From the age of 10, I started a robotics team with a couple of my friends.</h4>
            <br>
            <h4 align="left", style="width:65%;line-height:1.4"> Recently, this robotics team has grown into a 7 person team, of which I am captain. We now compete in a higher level and are ranked in the top 5% of teams internationally. </h4>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Meet Purav</a>

        </div>
    </div>
</header>
