<div class="blog">
  <br>
  <br><br><br>
			<h2 style="display:flex;justify-content:center;">Blog</h2>
      <hr>
			<ul style="list-style-type: none;">

				<li>
					<h4 style="text-align:center">Jun 9, 2020</h4>
					<a href="/blog/first-experience", style="font-size:2vh">My Experience at FIRST 🤖</a>
					<p style="display:flex; justify-content:center; flex-direction:column; align-items:center; width: 80vw">
						I have been lucky to have the opportunity to participate in the FIRST Tech Challenge competition. They were amazing experiences which I have learned a lot from. These competitions are more than just robotics, rather they inspire the next generation to take interest in STEM.
					</p>
				</li>

			</ul>
		</div>
