<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A Sophmore in High School</h2>
                <hr class="light">
                <p class="text-faded">Purav has everything you need to grow your business. With experience in digital marketing, Web Development and Social Engineering, He can grow your business!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
