<section id="contact", style="display:flex; justify-content:center; flex-direction:column; align-items:center">
            <div class="col-lg-8 col-lg-offset-0 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <br>
            </div>

        <div class="col-lg-2 col-lg-offset-0 text-center">
          <br>
          <h3>Twitter</h3>
            <a href="https://twitter.com/puravdatta1">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

        <div class="col-lg-2 col-lg-offset-0 text-center">
          <h3>Email</h3>
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            <br>
        </div>

        <div class="col-lg-2 col-lg-offset-0 text-center">
          <br>
          <h3>Github</h3>
            <a href="https://github.com/puravdatta-sudo">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

        <div class="col-lg-2 col-lg-offset-0 text-center", align="center">
          <br>
          <h3 align="center">Linkedin</h3>
            <a href="https://www.linkedin.com/in/puravdatta">
            <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

</section>
